node_modules
.next
out
build
coverage
playwright-report
test-results
.pnpm-store

.git
.github
.idea
.vscode

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

db_data
*.log
.DS_Store
Thumbs.db
